

@media  (max-width : 768px)  { 
    
    *{
        margin: 0;
        padding: 0;
        list-style: none;
        font-family: Montserrat ,serif;
        text-decoration: none;
        
    }
/*-----------image Accueil-----------*/
.fond{
    position: relative;
   /* background-image: url(/illustrations/foret-petite.jpg);*/
    height:300px;
    background-color: #C08493;
    top: 0;
    
}
body{
    background-color: #fffcec;
}
/*----------Titre accueil---------*/    
a h1 {
   position: sticky;
    top: 100px;
    bottom: auto;
    left: 100px;
    right: 100px;
    color: rgb(255, 255, 255);
    margin: 1em;
    letter-spacing: .17em;
    

    
}
/*-----------MENU DEROULANT----------*/    
    .menu-btn{
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        width: 80px;
        height: 80px;
        cursor: pointer;
        transition: all .5 ease-in-out;
       
        /*border: 3px solid rgb(0, 0, 0);*/
    }

    .menu-btn__burger{
        position: relative;
        top: 30px;
        left: 10px;
        width: 50px;
        height: 6px;
        background: black;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgb(0, 0, 0);
        transition: all 1s ease-in-out;
    }

    .menu-btn__burger::before,
    .menu-btn__burger::after{
        content: '';
        position: absolute;
        width: 50px;
        height: 6px;
        background: black;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgb(0, 0, 0);
        transition: all .5 ease-in-out;
    }
    .menu-btn__burger::before{
        transform: translateY(-16px);
        transition: 1s;
    }
    .menu-btn__burger::after{
        transform: translateY(16px);
        transition: 1s;
    }

    /*-----------ANIMATION-----------*/



 
    .menu-btn.open .menu-btn__burger{
        transform: translateX(-50px) ;
        transition: 1s;
        background: transparent;
        box-shadow: none;
      

    }

    .menu-btn.open .menu-btn__burger::before{
        transform:rotate(55deg) translate(36px, -40px) 
        scale(1.52, 1.52);
        transition: 1s; 
    }
    .menu-btn.open .menu-btn__burger::after{
        transform: rotate(-45deg) translate(30px, 35px)
        scale(1.52, 1.52);
        transition: 1s;
    }

    .bouton{
        display: none;
        
    }

    .bouton a :hover{
        color: black;
    }
   .bouton.ouvert{
    
    display: block;
    font-size: 1.5em;
    background: rgb(255,203,204);
    background: linear-gradient(128deg, rgba(255,203,204,1) 0%, rgba(192,132,147,1) 48%);
    border: black solid 1px; 
    width: 90%;
    margin: 10px;
    box-shadow: #ffffff1a 0 1px 1px inset, #32325d66 0 50px 100px -20px, #0000004d 0 30px 60px -30px;
    
    
    
}

#prin{
    font-size:xx-large;
    padding: .5em;
    
}


.bouton li{
    margin: .5em;
    color: #ffffff;  
    
} 



   .onglet1{
    display: none;
    
   }
   .onglet1.open{
   display: block;
   }
   .onglet2{
    display: none;
   }
   .onglet2.open{
    display: block;
   }

   .onglet3{
    display: none;
   }
   .onglet3.open{
    display: block;
   }
   
   .onglet1 li,.onglet2 li , .onglet3 li{
    margin: 2em;
   }
    
   
/*--------------Titre Secondaire--------*/


   .ptit-titre{
    margin: 1em;
    
    
   }
   
.fondbox1{
    position: relative;
    background-color: #FFCBCC;
    padding: 2rem;
    text-align: center;
    max-width: 100%;
    border-radius: 24px;
    margin: 10px;
    box-shadow: #ffffff1a 0 1px 1px inset, #32325d66 0 50px 100px -20px, #0000004d 0 30px 60px -30px;
    
}
.fondbox1 p , .fondbox1 h3 {
    color: #000000;
}

.span1{
    width: 7em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 3em;
    border-radius: 20px;
    background: rgb(175,164,206);
    background: linear-gradient(128deg, rgba(175,164,206,1) 0%, rgba(240,161,191,1) 70%);
    font-size: 1em;
    margin-top: 10px;
    
}

.fondbox2{
    position: relative;
    background-color: #FFCBCC;
    padding: 2rem;
    text-align: center;
    max-width: 100%;
    border-radius: 24px;
    margin: 50px 10px;
    box-shadow: #ffffff1a 0 1px 1px inset, #32325d66 0 50px 100px -20px, #0000004d 0 30px 60px -30px;
    
}

.fondbox2 li , .fondbox2 h2 , .fondbox2 p {
    color: #000000;
}

.span2{
    width: 7em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 3em;
    border-radius: 20px;
    background: rgb(175,164,206);
    background: linear-gradient(333deg, rgba(175,164,206,1) 0%, rgba(240,161,191,1) 70%);
    font-size: 1em;
    margin-top: 10px;

}



.fondbox3{
    position: relative;
    background-color: #FFCBCC;
    padding: 2rem;
    text-align: center;
    max-width: 100%;
    border-radius: 24px;
    margin: 50px 10px;
    box-shadow: #ffffff1a 0 1px 1px inset, #32325d66 0 50px 100px -20px, #0000004d 0 30px 60px -30px;
    
}
.fondbox3 li ,  .fondbox3 h2, .fondbox3 h3 {
    color: #000000;
}
.fondbox3 a {
    color: teal;
}
.span3{
    width: 7em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 3em;
    border-radius: 20px;
    background: rgb(175,164,206);
    background: linear-gradient(209deg, rgba(175,164,206,1) 0%, rgba(240,161,191,1) 70%);
    font-size: 1em;
    margin-top: 10px;

}

.fondbox4{
    position: relative;
    background-color: #FFCBCC;
    padding: 2rem;
    text-align: center;
    max-width: 100%;
    border-radius: 24px;
    margin: 50px 10px;
    box-shadow: #ffffff1a 0 1px 1px inset, #32325d66 0 50px 100px -20px, #0000004d 0 30px 60px -30px;
    
}
.fondbox4 li ,  .fondbox4 h2 {
    color: #000000;
}
.fondbox4 a {
    color: #2a66ad;
}

.span4{
    width: 7em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 3em;
    border-radius: 20px;
    background: rgb(175,164,206);
    background: linear-gradient(20deg, rgba(175,164,206,1) 0%, rgba(240,161,191,1) 70%);
    font-size: 1em;
    margin-top: 10px;

}

.fondbox5{
    position: relative;
    background-color: #FFCBCC;
    padding: 2rem;
    text-align: center;
    max-width: 100%;
    border-radius: 24px;
    margin: 50px 10px;
    box-shadow: #ffffff1a 0 1px 1px inset, #32325d66 0 50px 100px -20px, #0000004d 0 30px 60px -30px;
    
}
.fondbox5 p ,  .fondbox5 h2 {
    color: #000000;
}
.fondbox5 a {
    color: #2a66ad;
}

.span5{
    width: 7em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 3em;
    border-radius: 20px;
    background: rgb(175,164,206);
    background: linear-gradient(90deg, rgba(175,164,206,1) 0%, rgba(240,161,191,1) 70%);
    font-size: 1em;
    margin-top: 10px;

}

.fondbox6{
    position: relative;
    background-color: #FFCBCC;
    padding: 2rem;
    text-align: center;
    max-width: 100%;
    border-radius: 24px;
    margin: 50px 10px;
    box-shadow: #ffffff1a 0 1px 1px inset, #32325d66 0 50px 100px -20px, #0000004d 0 30px 60px -30px;
    
}
.fondbox6 p ,  .fondbox6 h2 {
    color: #000000;
}
.fondbox6 a {
    color: #2a66ad;
}

.span6{
    width: 7em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 3em;
    border-radius: 20px;
    background: rgb(175,164,206);
    background: linear-gradient(295deg, rgba(175,164,206,1) 0%, rgba(240,161,191,1) 70%);
    font-size: 1em;
    margin-top: 10px;
   
}

   h3{
    margin: 1em;
    color:  #000000;
   }
   p,ul,li{
    margin: .5em;
   }
   

   .coach{
   margin: 2em;

   clip-path:circle(50% at 65% 35% );
   
    
   }
   .maestro{
    width: 100%;
   }
   .poste{
    width: 100%;
   }
   .methode{
    width: 100%;
   }

   footer{
    background-color: rgb(234, 238, 230);
   }

}

@media (min-width:769px){
    *{
        margin: 0;
        padding: 0;
        list-style: none;
        font-family: Montserrat ,serif;
        text-decoration: none;
        
    }

    body{
        background-color: #fffcec;
    }

    .fond{
        position: relative;
       background-image: url(/illustrations/foret_illustration.png);
       
        height:400px;
        width: 100%;
        background-repeat:no-repeat;
       display: flex;
        top: 0;
        background-size: cover;
      
    }
    .fond2{
        display: flex;
        width: 100%;
        top:0;
        height: 400px;
        left: 0;
        right: 0;
    }
 

    .fond h1{
        color: #ffffff;
        position:sticky;
        top: 50px;
        margin: 0 30px;



    
}
/*-----------MENU DEROULANT----------*/    
    .menu-btn{
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        width: 80px;
        height: 80px;
        cursor: pointer;
        transition: all .5 ease-in-out;
       
        /*border: 3px solid rgb(0, 0, 0);*/
    }

    .menu-btn__burger{
        position: relative;
        top: 30px;
        left: 10px;
        width: 50px;
        height: 6px;
        background: black;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgb(0, 0, 0);
        transition: all 1s ease-in-out;
    }

    .menu-btn__burger::before,
    .menu-btn__burger::after{
        content: '';
        position: absolute;
        width: 50px;
        height: 6px;
        background: black;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgb(0, 0, 0);
        transition: all .5 ease-in-out;
    }
    .menu-btn__burger::before{
        transform: translateY(-16px);
        transition: 1s;
    }
    .menu-btn__burger::after{
        transform: translateY(16px);
        transition: 1s;
    }

    /*-----------ANIMATION-----------*/



 
    .menu-btn.open .menu-btn__burger{
        transform: translateX(-50px) ;
        transition: 1s;
        background: transparent;
        box-shadow: none;
      

    }

    .menu-btn.open .menu-btn__burger::before{
        transform:rotate(55deg) translate(36px, -40px);
        scale:(1.52, 1.52);
        transition: 1s; 
    }
    .menu-btn.open .menu-btn__burger::after{
        transform: rotate(-45deg) translate(30px, 35px);
        scale:(1.52, 1.52);
        transition: 1s;
    }

    .bouton{
        display: none;
        
    }

    .bouton a :hover{
        color: black;
    }
   .bouton.ouvert{
    
    display: block;
    font-size: 1.5em;
    background: rgb(255,203,204);
    background: linear-gradient(128deg, rgba(255,203,204,1) 0%, rgba(192,132,147,1) 48%);
    border: black solid 5px; 
    width: 90%;
    margin: 10px;
    box-shadow: #ffffff1a 0 1px 1px inset, #32325d66 0 50px 100px -20px, #0000004d 0 30px 60px -30px;
    
    
    
}

#prin{
    font-size:xx-large;
    padding: .5em;
   
    
}


.bouton li{
    margin: .5em;
    color: #ffffff;  
    
} 



   .onglet1{
    display: none;
    
   }
   .onglet1.open{
   display: block;
   }
   .onglet2{
    display: none;
   }
   .onglet2.open{
    display: block;
   }

   .onglet3{
    display: none;
   }
   .onglet3.open{
    display: block;
   }
   
   .onglet1 li,.onglet2 li , .onglet3 li{
    margin: 2em;
   }
    
   
/*--------------Titre Secondaire--------*/


   .ptit-titre{
    margin: 1em;
    
    
   }
   
.fondbox1{
    position: relative;
    background-color: #FFCBCC;
    padding: 2rem;
    text-align: center;
    max-width: 50%;
    border-radius: 24px;
    box-shadow: #ffffff1a 0 1px 1px inset, #32325d66 0 50px 100px -20px, #0000004d 0 30px 60px -30px;
    margin: 100px auto;
    
}
.fondbox1 p , .fondbox1 h3 {
    color: #000000;
}

.span1{
    width: 7em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 3em;
    border-radius: 20px;
    background: rgb(175,164,206);
    background: linear-gradient(128deg, rgba(175,164,206,1) 0%, rgba(240,161,191,1) 70%);
    font-size: 1em;
    margin-top: 10px;
    
}


.fondbox2{
    position: relative;
    background-color:#FFCBCC;
    padding: 2rem;
    text-align: center;
    max-width: 33%;
    border-radius: 24px;
    box-shadow: #ffffff1a 0 1px 1px inset, #32325d66 0 50px 100px -20px, #0000004d 0 30px 60px -30px;
    margin: 100px auto;
}

.fondbox2 li , .fondbox2 h2 , .fondbox2 p {
    color: #000000;
}

.span2{
    width: 7em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 3em;
    border-radius: 20px;
    background: rgb(175,164,206);
    background: linear-gradient(333deg, rgba(175,164,206,1) 0%, rgba(240,161,191,1) 70%);
    font-size: 1em;
    margin-top: 10px;

}

.fondbox3{
    position: relative;
   background-color: #FFCBCC;
    padding: 2rem;
    text-align: center;
    max-width: 33%;
    border-radius: 24px;
    box-shadow: #ffffff1a 0 1px 1px inset, #32325d66 0 50px 100px -20px, #0000004d 0 30px 60px -30px;
    margin: 100px auto;
}
.fondbox3 li ,  .fondbox3 h2, .fondbox3 h3 {
    color: #000000;
}
.fondbox3 a {
    color: teal;
}

.span3{
    width: 7em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 3em;
    border-radius: 20px;
    background: rgb(175,164,206);
    background: linear-gradient(209deg, rgba(175,164,206,1) 0%, rgba(240,161,191,1) 70%);
    font-size: 1em;
    margin-top: 10px;

}

.fondbox4{
    position: relative;
    background-color: #FFCBCC;
    padding: 2rem;
    text-align: center;
    max-width: 45%;
    border-radius: 24px;
    box-shadow: #ffffff1a 0 1px 1px inset, #32325d66 0 50px 100px -20px, #0000004d 0 30px 60px -30px;
    margin: 100px auto;
}
.fondbox4 li ,  .fondbox4 h2 {
    color: #000000;
}
.fondbox4 a {
    color: #2a66ad;
}

.span4{
    width: 7em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 3em;
    border-radius: 20px;
    background: rgb(175,164,206);
    background: linear-gradient(20deg, rgba(175,164,206,1) 0%, rgba(240,161,191,1) 70%);
    font-size: 1em;
    margin-top: 10px;

}


.fondbox5{
    position: relative;
    background-color: #FFCBCC;
    padding: 2rem;
    text-align: center;
    max-width: 33%;
    border-radius: 24px;
    margin: 100px auto;
    box-shadow: #ffffff1a 0 1px 1px inset, #32325d66 0 50px 100px -20px, #0000004d 0 30px 60px -30px;
}
.fondbox5 p ,  .fondbox5 h2 {
    color: #000000;
}
.fondbox5 a {
    color: #2a66ad;
}

.span5{
    width: 7em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 3em;
    border-radius: 20px;
    background: rgb(175,164,206);
    background: linear-gradient(90deg, rgba(175,164,206,1) 0%, rgba(240,161,191,1) 70%);
    font-size: 1em;
    margin-top: 10px;

}


.fondbox6{
    position: relative;
    background-color: #FFCBCC;
    padding: 2rem;
    text-align: center;
    max-width: 33%;
    border-radius: 24px;
    box-shadow: #ffffff1a 0 1px 1px inset, #32325d66 0 50px 100px -20px, #0000004d 0 30px 60px -30px;
    margin: 100px auto;
}
.fondbox6 p ,  .fondbox6 h2 {
    color: #000000;
}
.fondbox6 a {
    color: #2a66ad;
}
.span6{
    width: 7em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 3em;
    border-radius: 20px;
    background: rgb(175,164,206);
    background: linear-gradient(295deg, rgba(175,164,206,1) 0%, rgba(240,161,191,1) 70%);
    font-size: 1em;
    margin-top: 10px;
   
}



   h3{
    margin: 1em;
    color:  #000000;
   }
   p,ul,li{
    margin: .5em;
   }
   

   .coach{
   margin: 2em;

   clip-path:circle(50% at 65% 35% );
   
    
   }
   .maestro{
    width: 100%;
   }
   .poste{
    width: 100%;
   }
   .methode{
    width: 100%;
   }

   footer{
    background-color: rgb(234, 238, 230);
   }
}